.message-item-container {
    display: flex;
    padding: 2px 5%;
    /* Side padding for the whole area */
    margin-bottom: 2px;
}

.message-mine {
    justify-content: flex-end;
}

.message-theirs {
    justify-content: flex-start;
}

.message-bubble {
    position: relative;
    max-width: 65%;
    padding: 6px 7px 5px 9px;
    margin-top: 15px;
    border-radius: 7.5px;
    box-shadow: 0 1px 0.5px rgba(11, 20, 26, .13);
    font-size: 14.2px;
    line-height: 19px;
    color: var(--text-primary);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.bubble-mine {
    background-color: var(--bg-bubble-mine);
    border-top-right-radius: 0;
}

.bubble-theirs {
    background-color: var(--bg-bubble-theirs);
    border-top-left-radius: 0;
}

.message-text {
    margin: 0;
    margin-right: 7px;
    /* Space between text and time */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

.message-time {
    font-size: 11px;
    color: var(--text-secondary);
    line-height: normal;
    margin-left: auto;
    margin-bottom: 0;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 3px;
}

.message-time i {
    font-size: 16px;
    display: flex;
    align-items: center;
}