@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.home-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f2f5;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #111b21;
}

.home-screen h1 {
  background-color: #008069;
  color: white;
  padding: 20px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
}

.home-screen .sidebar-container {
  flex: 1;
  background-color: #ffffff;
  overflow-y: auto;
  border-right: 1px solid #e9edef;
  max-width: 100%;
}

@media (min-width: 900px) {
    .home-screen {
        flex-direction: row;
        background-color: #d1d7db;
        position: relative;
    }

    .home-screen::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 127px;
        background-color: #00a884;
        z-index: 0;
    }

    .home-screen-content {
        z-index: 1;
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 1600px;
        margin: 0 auto;
        box-shadow: 0 17px 50px 0 rgba(11,20,26,.19), 0 12px 15px 0 rgba(11,20,26,.24);
        background-color: #fff;
        height: calc(100% - 38px);
        margin-top: 19px;
    }

    .home-screen .sidebar-container {
        width: 30%;
        max-width: 450px;
        min-width: 300px;
    }
    
    .placeholder-chat {
        flex: 1;
        background-color: #f0f2f5;
        border-bottom: 6px solid #43c960;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #41525d;
    }

    .placeholder-chat h1 {
        background: none;
        color: #41525d; 
        font-size: 32px;
        font-weight: 300;
        padding: 0;
        margin-bottom: 10px;
    }
}
